<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="jumbotron">
			<div class="page-header text-center">
				<h1>Login</h1>
			</div>

			<form ng-submit="login()">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" placeholder="yourname" ng-model="username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" placeholder="supersecret" ng-model="password">
				</div>
			
				<button type="submit" class="btn btn-block btn-primary btn-lg">Login</button>
			</form>

		</div>
	</div>
</div>